name: My First Action

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 24f1001527@ds.study.iitm.ac.in
        run: echo "Hello, world!"
